@font-face {
    font-family: "open sans";
    font-style: normal;
    font-weight: 400;
    src: local("open sans Regular"), local("opensans-regular"), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     
}
body {
    max-width: 1400px;
    min-width: 900px;
    margin: auto;
    font-family: "open sans";

}

.main-header {
    position: relative;
    height: 740px;
    background: url("../img/apples.jpg");
    background-position: center;
    color: rgb(255, 255, 255); 
}

.main-header .top-bar {
    display: flex;
    justify-content: space-between;
    padding-top: 4%;
    padding-left: 5%;
    padding-right: 5%; 
}
    
.main-header .top-bar .header-logo {
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    letter-spacing: 3px; 
}

.main-header .top-bar .nav-bar {
    display: flex;
    justify-content: space-between;
    width: 400px; 
}

.main-header .top-bar .nav-bar a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255); 
}
.main-header .title {
    text-align: center;
    position: absolute;
    margin: 0 auto;
    left:0;
    right:0;
    top: 280px
}
.main-header h1 {
    text-decoration: none;
    font-weight: normal;
    font-size: 3em;
    letter-spacing: 6px; 
}
    
.main-header h1 .amp {
    font-size: 2em; 
}
   
.main-header .header-button {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    padding: 15px 30px;
    width: 250px;
    position: absolute;
    margin: 0 auto;
    left:0;
    right:0;
    bottom: 145px
}
    
.main-header .header-button:hover {
    background: rgba(0, 0, 0, 0); 
}
    
.main-header .header-button .header-btn {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    display: block;
    margin: 4%; 
}

.section-header {
    padding: 6% 4% 6% 4%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
  
.section-header .section-left {
    max-width: 45%; 
}
    
.section-header .section-left h3 {
    padding-right: 5%;
    font-weight: normal;
    font-size: 18px;
}

.section-header .section-right {
    max-width: 50%; 
}
    
.section-header .section-right p {
    font-size: 14px; 
}

.container {
    background-color: rgb(243,243,243);
    padding: 40px; 
}

.section-title {
    text-align: center;
    margin: 7%; 
}
  
.section-title h3 {
    font-weight: normal;
    font-size: 18px; }

article {
    margin: 15px;
    display: flex;
    justify-content: space-between; 
}
  
article .article-paragraph {
    max-width: 33%;
    text-align: center;
    padding-top: 7%;
    font-size: 15px; 
}
  
article .imgs {
    position: relative;
    max-width: 65%; 
}
    
article .imgs .pics {
    height: 100%; 
}
      
article .imgs .pics:after {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 180px 8px rgba(0, 0, 0, 0.7); 
}
      
article .imgs .pics img {
    width: 100%;
    height: 100%; 
}
    
article .imgs h4 {
    font-weight: normal;
    position: absolute;
    bottom: 6%;
    left: 2%;
    color: rgb(255, 255, 255); 
}
    
article .imgs button {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid rgb(255, 255, 255);
    padding: 10px 15px;
    position: absolute;
    top: 18px;
    right: 18px;
    font-family: "open sans";
}
      
article .imgs button:hover {
    background: rgba(0, 0, 0, 0);
    cursor: pointer; 
}

.section-footer {
    padding: 4% 1% 4% 4%;
    background-color: rgb(255, 255, 255);
    margin: 40px 15px 0px 15px;
    display: flex;
    justify-content: space-around; 
}
  
.section-footer h3 {
    font-weight: normal;
    font-size: 18px; 
}
  
.section-footer .input {
    width: 70%;
    display: flex; 
}
    
.section-footer .input input {
    width: 85%;
    background-color: rgb(243,243,243);
    border: 1px solid rgb(0, 0, 0);
    font-size: 15px;
    padding: 2%; 
}
      
.section-footer .input input::placeholder {
    color: rgb(0, 0, 0); 
}
    
.section-footer .input button {
    width: 15%;
    border: none;
    background-color: rgb(52,54,56);
    color: rgb(255, 255, 255);
    font-family: "open sans";
    font-size: 15px; 
}
      
.section-footer .input button:hover {
    background: rgba(0, 0, 0, 0.6);
    cursor: pointer; 
}

footer {
    padding: 40px 55px 0 55px; 
}
  
footer .footer {
    background-color: rgb(255,255,255);
    padding-bottom: 60px;
    display: flex;
    align-items: flex-start; 
}
    
footer .footer h4 {
    font-size: 18px;
    margin: 0 20px 0 0; 
}
    
footer .footer p {
    color: rgb(158,158,158);
    margin-bottom: 5px; 
}
    
footer .footer .black-white {
    display: flex;
    flex-direction: column;
    max-width: 24%;
    padding: 30px 15px 30px 0px; 
}
    
footer .footer .last-tweet {
    display: flex;
    flex-direction: column;
    max-width: 24%;
    padding: 30px 15px 30px 15px; 
}
      
footer .footer .last-tweet .italic {
    font-style: italic; 
}
      
footer .footer .last-tweet .timer p {
    margin-top: 3px;
    color: rgb(232,232,232); 
}
    
footer .footer .contact {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 30px 30px 30px 15px; 
}
    
footer .footer .newsletter {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    padding: 30px 0px 30px 60px; 
}
      
footer .footer .newsletter .input-footer {
    width: 100%;
    display: flex; 
}
        
footer .footer .newsletter .input-footer input {
    width: 65%;
    background-color: rgb(243,243,243);
    border: 1px solid rgb(0,0,0);
    font-size: 14px;
    padding: 4%; 
}
         
footer .footer .newsletter .input-footer input::placeholder {
    color: rgb(0,0,0); 
}
        
footer .footer .newsletter .input-footer button {
    padding: 1px;
    width: 35%;
    border: none;
    background-color: rgb(52,54,56);
    color: rgb(255,255,255);
    font-family: "open sans";
    font-size: 14px; 
}
          
footer .footer .newsletter .input-footer button:hover {
    background: rgba(0, 0, 0, 0.6);
    cursor: pointer; 
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    border-top: 3px solid rgb(240,240,240);
    padding-top: 15px;
    padding-bottom: 25px; 
}

.footer-nav p {
    color: rgb(158,158,158); 
}
  
.footer-nav nav {
    display: flex;
    justify-content: space-between;
    width: 300px; 
}
    
.footer-nav nav a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(0,0,0); 
}

