$header-color: #1fbcd3;
$background-color: #efefef;
$pborder-color: #617d8a;
$pcolor:#617d8a;
$article-title: #1697a6;
$post-description: #159587;
$psize: 15px;
$h2size: 20px;
$pagebackground: #ffffff;
$font: sans-serif;
$pfontsize: 16px;
$h1fontsize: 20px;
$px13: 13px;
$contactform: 15px;