$header-color: #fc5830;
$background-color: #fff;
$pborder-color: #cfd8dc;
$pcolor:#757575;
$article-title: #617d8a;
$post-description: #bdbdbf;
$psize: 15px;
$h2size: 20px;
$pagebackground: #efefef;
$font: serif;
$pfontsize: 16px;
$h1fontsize: 20px;
$px13: 13px;
$contactform: 15px;